<div class="sm-container">
  <h1>Welcome <%= @user.username  %></h1>
</div>

<div class="sm-container tight">
  <h1>Your Reviews</h1>
  <% if @user.reviews %>
    <% @user.reviews.each do |review| %>
    <div class="single-review">
      <h3><%= review.content  %></h3>
    <h4>on: <a href="/restaurants/<%= review.restaurant.id %>"><%= review.restaurant.name %></a></h4>
    </div>
    <% end %>
  <% else %>
    <h3>You havent written any reviews yet!</h3>
  <% end %>
</div>
