<aside class="word_input_form container">
  <form action="/words" method="post">
    <label for="input_word">Choose a word to find its anagrams.</label>
    <br>
    <input id="input_word" type="text" name="word[phrase]">
    <input type="submit" value="Get Anagrams">
  </form>
</aside>
